# Ignore private key
terra-key

# Ignore Terraform state files
*.tfstate
*.tfstate.*

# Ignore crash logs
crash.log

# Ignore .terraform directory
.terraform/

# Ignore sensitive variable files
*.tfvars
*.tfvars.json

# Ignore backup files
*.backup

# Ignore other system files
.DS_Store
*.swp
